body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
	font-family: Righteous;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 0;
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 25px;
	}
}

h2 {
	font-size: 22px;
	margin-bottom: 0;
	margin-top: 0;
}

@media screen and (max-width: 480px) {
	h2 {
		font-size: 18px;
	}
}

h3 {
	font-size: 20px;
	margin-top: 10px;
	font-weight: bold;
}

@media screen and (max-width: 480px) {
	h3 {
		font-size: 16px;
	}
}

h4 {
	font-size: 15px;
	font-weight: normal;
	margin-top: 0;
}

@media screen and (max-width: 480px) {
	h4 {
		font-size: 12px;
	}
}

.menu-container {
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 3px;
	z-index: 999;
}

.main-page-sections {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;	
}

@media screen and (max-width: 480px) {
	.main-page-sections {
		width: 95%;
		padding-top: 60px;
	}
}

.text-box {
	font-size: 16px;
	margin-top: 10px;
}

@media screen and (max-width: 480px) {
	.text-box {
		font-size: 13px;
		margin-top: 10px;
	}
}

.instructions-and-results {
	margin-bottom: 75px;
}

@media screen and (max-width: 480px) {
	.instructions-and-results {
		margin-bottom: 100px;
	}
}

.about-image {
	mix-blend-mode: multiply;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

@media screen and (max-width: 480px) {
	.about-image {
		width: 100%;

	}
}

.signup-section {
	padding-bottom: 500px;
}